@model FirstChoiceSystems.Models.ViewModels.ItemViewModel

@{
    ViewBag.Title = "ItemDetails";
}

<h2>ItemDetails</h2>

<div>
    <h3>ItemViewModel</h3>

    <h5>@Html.ActionLink("AddItem", "AddItem", "Order", new {itemId = Model.ItemId, requestedQuantity = 1}) (Adds 1 Item To Cart, Redirects To Current User's Order) </h5>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seller)
        </dd>


    </dl>
</div>
