@model FirstChoiceSystems.Models.ViewModels.OrderViewModel

@{
    ViewBag.Title = "Order";
}

<h2>Current User's Order</h2>

<div>
    <p>Note: "Remove Item" Removes 1 Item On Click</p>
    <p>If Item Quantity Is 1, Remove Item</p>
    <table>
        <thead>
            <tr>
                <td>Item Name</td>
                <td>Item Description</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Seller</td>
            </tr>
        </thead>

        @foreach (var item in Model.Items)
        {
            <tbody>
                <tr>
                    <td>@Html.ActionLink("View Item", "ItemDetails", "Inventory", new { itemId = item.ItemId })</td>
                    <td>@Html.ActionLink("Remove Item From Current Order", "RemoveItem", "Inventory", new { itemId = item.ItemId }) </td>
                    <td>@item.ItemName</td>
                    <td>@item.ItemDescription</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>@item.Seller</td>
                </tr>
            </tbody>
        }
    </table>
    <h3> @Html.ActionLink("Purchase", "PurchaseRequest", "Purchase") (Takes Current Order And Makes Purchase, Redirects To Current User's Purchase History) </h3>
</div>