@model FirstChoiceSystems.Models.ViewModels.OrderViewModel

@{
    ViewBag.Title = "Order";
}


<h2>Order</h2>
<p>SubTotal: @Model.SubTotal</p>
<div>
    <table>
        <thead>
        <tr>
            <td></td>
            <td>Item Name</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Seller</td>
            <td></td>
        </tr>
        </thead>
        @foreach (var item in Model.Items)
        {
            <tbody>
            <tr>
                <td>@Html.ActionLink("View Item", "ItemDetails", "Inventory", new {itemId = item.ItemId}, null)</td>
                <td>@item.ItemName</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
                <td>@item.Seller</td>
                <td>@Html.ActionLink("Remove Item", "RemoveItem", "Order", new {itemid = item.ItemId}, null)</td>
            </tr>
            </tbody>
        }
    </table>
    @using (Html.BeginForm("PurchaseRequest", "Purchase", FormMethod.Post))
    {
        <input type="submit" value="Make Purchase" class="btn btn-primary" />
    }
</div>