@model FirstChoiceSystems.Models.DBModels.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<ul>
    <li>@Html.ActionLink("User's Pending Sales", "PendingSales", "Sales")</li>
    <li>@Html.ActionLink("User's Sales History", "SalesHistory", "Sales")</li>
    <li>@Html.ActionLink("User's MarketPlace Items", "YourMarketPlaceItems", "MarketPlace")</li>
    <li>@Html.ActionLink("User's Purchase Request History", "PurchaseRequestHistory", "Purchase")</li>
    <li>@Html.ActionLink("User's Inventory", "Inventory", "Inventory")</li>
</ul>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonOfContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonOfContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyWebsite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyWebsite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRegistered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRegistered)
        </dd>

    </dl>
</div>
