@model FirstChoiceSystems.Models.DBModels.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div>
    <h3></h3>
    <table>
        <thead>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        </thead>
        <tbody>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        </tbody>
    </table>
</div>
<div>
    <h3>Items Up For Sale</h3>
    @foreach (var itemViewModel in Model.ItemsUpForSale)
    {
        <table>
            <thead>
                <tr>Item Description</tr>
                <tr>Price</tr>
                <tr>Quantity</tr>
            </thead>
            <tbody>
                <tr>@itemViewModel.ItemDescription</tr>
                <tr>@itemViewModel.Price</tr>
                <tr>@itemViewModel.Quantity</tr>
            </tbody>
        </table>
    }
</div>

<div>
    <h3>Purchases Made</h3>
    @foreach (var purchaseItem in Model.Purchases)
    {

        <table>
            <thead>
                <tr>Total Price</tr>
                <tr>Quantity</tr>
                <tr>Status</tr>
                <tr>Approval Date</tr>
                <tr>Buyer</tr>
                <tr>Item</tr>
            </thead>
            <tbody>
                <tr>$@purchaseItem.PricePerUnitBoughtAt * @purchaseItem.QuanityBought</tr>
                <tr>@purchaseItem.QuanityBought</tr>
                <tr>@purchaseItem.Status</tr>
                <tr>@purchaseItem.ApprovalDate.ToString()</tr>
                <tr>@purchaseItem.Buyer.PersonOfContact</tr>
                <tr>@purchaseItem.Item.ItemName - @purchaseItem.Item.Seller</tr>
            </tbody>
        </table>
    }

</div>

