@using FirstChoiceSystems.Models.ViewModels
@model FirstChoiceSystems.Models.ViewModels.MarketPlaceItem

@{
    ViewBag.Title = "MarketPlaceItem";
}

<h2>@Model.ItemName</h2>

<div>
    @if (Model.Seller != User.Identity.Name)
    {
        using (Html.BeginForm("AddItem", "Order", new { itemId = Model.ItemId }))
        {
            <input type="submit" value="Add Item" class="btn btn-primary" />
        }
    }

    @if (OrderViewModel.Retrieve().Items != null && OrderViewModel.Retrieve().Items.Contains(Model))
    {
        <p>You have @OrderViewModel.Retrieve().Items.Count(x => x.ItemId == Model.ItemId) of these items in your cart</p>
    }

    @*@foreach (var image in Model.Images)
        {
            <div>
                <img src="@image.ImagePath" />
            </div>
        }*@<dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seller)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seller)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>

