@using FirstChoiceSystems.Models.ViewModels
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @{
        var currentOrder = (OrderViewModel)HttpContext.Current.Session["currentOrder"];
    }
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("All Items Up For Sale", "AllItemsUpForSale", "Inventory")</li>
                    <li>@Html.ActionLink("User's Purchase Request History", "PurchaseRequestHistory", "Purchase")</li>
                    <li>@Html.ActionLink("Current User's Order", "Order", "Order")</li>
                    <li>@Html.ActionLink("Current User's Purchase Order History", "PurchaseRequestHistory", "Purchase")</li>
                    <li>Amount Of Items In Current User's Order: @currentOrder.Items.Count()</li>
                    <li>Current Order Sub Total: @currentOrder.SubTotal</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
