@model IEnumerable<FirstChoiceSystems.Models.ViewModels.PurchaseItemViewModel>

@{
    ViewBag.Title = "PendingSales";
}

<h2>User's Pending Sales</h2>

<table class="table">

    <tr>
        <th></th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Buyer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuanityBought)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePurchased)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.ActionLink("View Item", "ItemDetails", "Inventory", new { itemId = item.ItemId }, null)</td>

            @using (Html.BeginForm("ApproveSale", "Sales", new { purchaseItemVmId = item.ItemId }, FormMethod.Post))
            {
                <td><input type="submit" value="Approve Sale" class="btn btn-primary" /></td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Buyer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuanityBought)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePurchased)
            </td>
        </tr>
    }
</table>
